<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Catalog manager (MVC)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-light navbar-static-top">
        <div class="esh-header-brand">
            <a href="@Url.Action("index", "catalog")">
                <img src="~/images/brand.png" />
            </a>
        </div>
    </header>
    <section class="esh-app-hero">
        <div class="container esh-header">
            <h1 class="esh-header-title" >Catalog manager <span>(MVC)</span></h1>
        </div>
    </section>

    @RenderBody()

    <footer class="esh-app-footer">
        <div class="container">
            <article class="row">
                <section class="col-sm-6">
                    <img class="esh-app-footer-brand" src="~/images/brand_dark.png" />
                </section>
                <section class="col-sm-6">
                    <img class="esh-app-footer-text hidden-xs" src="~/images/main_footer_text.png" width="335" height="26" alt="footer text image" />
                    <br />
                    @{ var sessionInfo = new HtmlString($"{HttpContext.Current.Session["MachineName"]}, {HttpContext.Current.Session["SessionStartTime"]}");}
                    <small>@sessionInfo</small>
                </section>
                
            </article>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
